name: CI

on:
  pull_request:
    branches: [main]
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Run pre-commit
        uses: nikaro/actions/pre-commit@fbd9437083a50b65e0243a96b0def467bde4045b # 1.2.7

  test:
    name: Test
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Rye
        uses: nikaro/actions/setup-rye@fbd9437083a50b65e0243a96b0def467bde4045b # 1.2.7

      - name: Install dependencies
        run: rye sync --all-features

      - name: Test
        run: rye run test

  check:
    name: Check
    permissions: {}
    runs-on: ubuntu-22.04
    needs: [lint, test]
    if: always()
    steps:
      - name: Ensure no jobs failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
